body {
    margin: 0;
    padding: 0;
    min-width: 1000px;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/*header*/

header {
    background: url(images/Layer-34.png);
    padding-bottom: 156px;
}

.menu {
    min-width: 600px;
    max-width: 1170px;
    display: block;
    margin: 0 auto;
    padding-bottom: 20px;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(107, 107, 107, 0.46);
}
.logo {
    display: block;
    position: relative;
    float: left;
    margin-top: 38px;
}

.nav-menu {
    float: right
}
.menu-items {
    margin-top: 45px;
}
.menu-items li {
    display: inline-block;
}
.menu-items li a {
    display: block;
    font-family: Raleway,sans-serif;
    color:  #ffffff;
    font-size: 13px;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;;
    text-decoration: none;
    margin-right: 60px;
}
.menu-items li:last-child a {
    margin-right: 0;
}



header h1 {
    font-family: OpenSans, sans-serif;
    color:  #ffffff;
    font-size: 65px;
    font-weight: 700;
    line-height: 71px;
    text-align: center;
    margin-bottom: 41px;
}
header p {
    font-family: Raleway, sans-serif;
    color:  #ffffff;
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    text-align: center;
    margin: 0;
}
.text {
    display: block;
    margin: 0 auto;
    width: 900px;
    margin-top: 175px;
}
.find-out-button {
    display: block;
    margin: 0 auto;
    margin-top: 77px;
    border-radius: 2px;
    background-color:  #e84545;
    width: 200px;
    height: 46px;
    font-family: Raleway, sans-serif;
    color:  #ffffff;
    font-size: 13px;
    font-weight: 600;
    line-height: 46px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    vertical-align: middle;
}
/*menu hover effect*/
@-webkit-keyframes hvr-hang {
  0% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  50% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}
@keyframes hvr-hang {
  0% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  50% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}
@-webkit-keyframes hvr-hang-sink {
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}
@keyframes hvr-hang-sink {
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}
.hvr-hang {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}
.hvr-hang:hover, .hvr-hang:focus, .hvr-hang:active {
  -webkit-animation-name: hvr-hang-sink, hvr-hang;
  animation-name: hvr-hang-sink, hvr-hang;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}
/*logo hover*/
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
/*find out hover*/
@-webkit-keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
@keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
.hvr-pulse-grow {
  display: block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}
.hvr-pulse-grow:hover, .hvr-pulse-grow:focus, .hvr-pulse-grow:active {
  -webkit-animation-name: hvr-pulse-grow;
  animation-name: hvr-pulse-grow;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

/*features*/

.wrapper {
    display: block;
    margin: 120px auto;
    padding: 0;
    width: 1100px;
    box-sizing: border-box;
}
.features li {
    width: 316px;
    height: 200px;
    display: inline-block;
    margin-right: 72px;
}
.features li:nth-child(3n) {
    margin-right: 0;
}


.icon {
    background: url(images/MergedLayers.png) no-repeat 0 -1px;
    margin: 0 auto;
	width: 80px;
	height: 60px;
}
.features h2 {
    font-family: Raleway;
    color:  #2d3033;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}
.features p {
    font-family: Raleway;
    color:  #6c7279;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;    
}
.easily-cust .icon {
    background-position: 0 -1px;
    cursor: pointer;
    width: 60px;
    height: 60px;
}
.resp-ready .icon {
    background-position: -383px -1px;
    cursor: pointer;
    width: 73px;
    height: 60px;
}
.modern-des .icon {
    background-position: -789px 0;
    cursor: pointer;
    width: 41px;
    height: 60px;
}
.clean-code .icon {
    background-position: -1px -261px;
    cursor: pointer;
    width: 56px;
    height: 60px;
}
.ready2ship .icon {
    background-position: -383px -261px;
    cursor: pointer;
    width: 72px;
    height: 60px
}
.free-download .icon {
    background-position: -771px -261px;
    cursor: pointer;
    width: 79px;
    height: 60px;
}

.hvr-rotate {
  display: block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-rotate:hover, .hvr-rotate:focus, .hvr-rotate:active {
  -webkit-transform: rotate(4deg);
  transform: rotate(4deg);
}

/*portfolio*/
.port-sprite {
	background: url(images/fanta.png) no-repeat 0 -3px;
	width: 470px;
	min-height: 350px;
}

.port-image-1 .port-sprite {
    background-position: 0 -3px;
    cursor: pointer;
}
.port-image-2 .port-sprite {
    background-position: -5px -381px;
    cursor: pointer;
}
.port-image-3 .port-sprite {
    background-position: -5px -1500px;
    cursor: pointer;
}
.port-image-4 .port-sprite {
    background-position: -8px -1134px;
    cursor: pointer;
    width: 480px;
}
.port-image-5 .port-sprite {
    background-position: -5px -1500px;
    cursor: pointer;
}
.port-image-6 .port-sprite {
    background-position: -8px -1893px;
    cursor: pointer;
}
.port-image-7 .port-sprite {
    background-position: -494px -15px;
    cursor: pointer;
}
.port-image-8 .port-sprite {
    background-position: -494px -381px;
    cursor: pointer;
    width: 480px;
}

.portfolio {
    width: 1900px;
}
.portfolio ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.portfolio li {
    float: left;
    border: 1px solid #fff;
}
.portfolio li:nth-child(4), .portfolio li:nth-child(8) {
    border-right: none;
} 
.portfolio li:hover .port-sprite {
    background-position: -8px -758px;
    cursor: pointer;
    transition: 0.5s ease-out;
}

/*team section*/

.members-list {
    display: block;
    margin: 100px auto;
    padding: 0;
    width: 1200px;
    box-sizing: border-box;
}

.members-list .member {
    display: inline-block;
    width: 270px;
    height: 580px;
    margin-right: 30px;
}
.members-list .member:last-child {
    margin-right: 0;
}
.member-pic {
    background: url(images/team-sprite.png) no-repeat 0 0;
	width: 270px;
	height: 270px;;
}
.ruth .member-pic {
    background-position: 0 0;
}
.timothy .member-pic {
    background-position: -300px 0;
}
.victoria .member-pic {
    background-position: -600px 0;
}
.beverly .member-pic {
    background-position: -900px 0;
}
.member ul li {
    display: inline-block;
}
.team-social-icons {
    background: url(images/team-social-icons.png) no-repeat 0 0;
	width: 40px;
	height: 40px;
}
.fb .team-social-icons {
    background-position: 0 0;
}
.tw .team-social-icons {
    background-position: -44px 0;
}
.ln .team-social-icons {
    background-position: 0 0;
}
.member ul {
    padding-left: 0;
}
.member ul li a {
    cursor: pointer;
    height: 40px;
    width: 40px;
    display: block;
}

/*contacts*/
.contacts {
    background-color:  #3a3e64;
    padding-bottom: 90px;
}
.contacts .text div {
    display: inline-block;
    vertical-align: text-top;
}
.social-icons {
    margin-left: 212px;
}
.social-icons ul {
    width: 150px;
    padding: 0;
    text-align: center;
}
.social-icons ul li {
    display: inline-block;
    text-align: center;
}
.text-footer {
    margin-top: 0;
    padding-top: 70px;
    width: 1060px;
}
.about {
    width: 330px;
    margin-left: 127px;
}

.location {
    width: 150px;
    margin-left: 65px;
}
.social-icons {
    width: 150px;
    margin-left: 230px;
}
.contacts h3 {
    font-family: Raleway, sans-serif;
    color:  #ffffff;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}
.contacts p {
    font-family: Raleway, sans-serif;
    color:  #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 22.5px;
    text-align: center;
}

.soc-icon {
	background: url(images/soc-sprite.png) no-repeat -883px -2247px;
	width: 40px;
	height: 40px;
}

.fb .soc-icon {
    background-position: -883px -2247px;
    cursor: pointer;
}
.tw .soc-icon {
    background-position: -930px -2247px;
    cursor: pointer;
}
.ln .soc-icon {
    background-position: -1005px -2104px;
    cursor: pointer;
}
/*icon hover buzz*/
@-webkit-keyframes hvr-buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}
@keyframes hvr-buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}
.hvr-buzz {
  display: block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}
.hvr-buzz:hover, .hvr-buzz:focus, .hvr-buzz:active {
  -webkit-animation-name: hvr-buzz;
  animation-name: hvr-buzz;
  -webkit-animation-duration: 0.15s;
  animation-duration: 0.15s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

/*footer*/

footer {
    background: url(images/Rectangle-8-copy.png);
}
footer p {
    text-align: center;
    margin-top: 0;
    font-family: Raleway, sans-serif;
    color:  #808080;
    font-size: 14px;
    font-weight: 400;
    line-height: 22.5px;
}
footer .para-pad {
    padding-top: 29px;
    margin: 0;
}
footer .para-kamal {
    margin: 0;
    padding-bottom: 29px;
}
footer a {
    color: #fff;
    text-decoration: none;
}
footer .red-heart {
    color: red;
    font-family: Webdings;
    color:  #e84545;
    font-size: 14px;
    font-weight: 400;
    line-height: 22.5px;
    text-align: center;
}
.para-kamal a:hover {
    text-decoration: underline;
}

/*download*/
*{
		box-sizing: border-box;
	}

	section{
		display: block;
	}

	a{
		text-decoration: none;
	}

	.section {
		padding: 100px 0;
	}

	.container {
		width: 100%;
		padding-right: 15px;
		padding-left: 15px;
		margin-right: auto;
		margin-left: auto;
	}

	.container:before{
		display: table;
		content: " ";
	}

	.container:after{
		display: table;
		content: " ";
		clear:both;
	}

	.text-center{
		text-align: center;
	}

	.col-md-8 {
		width: 50%;
		padding-right: 15px;
		padding-left: 15px;
		margin: 0 auto;
	}

	.download h3 {
		margin-top: 0;
		font-size: 28px;
		color: #2d3033;
		font-weight: 300;
		margin-bottom: 10px;
		font-family: inherit;
		line-height: 1.1;
	}

	.download p {
		color: #2d3033;
		font-weight: 600;
		text-transform: uppercase;
		font-size: 14px;
		line-height: 22.4px;
		margin: 0 0 10px;
	}

	.download #btn {
		margin-top: 30px;
		padding: 15px 40px;
		background-color: #e84545;
		color: #fff;
		font-size: 13px;
		font-weight: 600;
		border: 0;
		border-radius: 2px;
		display: inline-block;
		text-transform: uppercase;
	}